@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.borderout {
  border: 0.75px solid rgba(255, 251, 251, 0.146);
}

.bordertop {
  border-top: 0.75px solid rgba(255, 251, 251, 0.146);
}
.borderhover {
  border: 2px solid rgba(255, 251, 251, 0.516);
}

.borderactive {
  border: 0.75px solid rgba(255, 251, 251, 0.255);
}

.backtheme {
  background: rgba(14, 12, 44, 0.649);
}
.backtheme2 {
  background: rgba(8, 7, 26, 0.563);
}

.verysmall {
  font-size: 0.7rem;
}

.product-image {
  border: 0.75px solid rgba(252, 252, 252, 0.05);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  background: var(--gradient5);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
  padding: 8px;
  overflow: hidden;
}
